<div class="portal-header">
    <div class="branding-container apimatic-background-color" style="display: flex; align-items: center;">
        <div class="logo">
            <a href="https://www.apimatic.io" target="_blank" class="apimatic-light-image">
                <img src="./static/images/logo.png" alt="logo">
            </a>
            <a href="https://www.apimatic.io" target="_blank" class="apimatic-dark-image">
                <img src="./static/images/logo.png" alt="logo">
            </a>
            <div class="divider apimatic-border-color"></div>
            <p class="apimatic-text-color">Adyen APIs</p>
        </div>
        <button class="sign-up apimatic-signup-btn" onclick="window.open('https://app.apimatic.io/account/register', '_blank')">Sign Up to APIMatic</button>
    </div>
</div>